docs/** linguist-generated=true
*.html linguist-generated=true
*.css linguist-generated=true
*.js linguist-generated=true
*.tex linguist-generated=true
*.sty linguist-generated=true
docs/latex/** linguist-generated=true
